{% extends "base.html" %}
{% block head-title %}Log In!{% endblock %}

{% block content %}
<section class="form-section">
    <h2 class="section-headline">Log In!</h2>
    <p class="section-description">
        Please fill in your email and your password.
    </p>
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <input type="submit" value="Log in!">
            </p>
            <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
        </form>
    </div>
</section>
{% endblock %}