<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block head-title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<div class="container">
  <div class="breadcrumbs">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">set a new password</li>
    </ol>
  </div>
  <!--/breadcrums-->
</div>
<main>
  
<section id="cart_items">
 
  <section id="form">
    <!--form-->
    <div class="col-sm-7 center">
      <div class="login-form">
        <!--login form-->
        <h1>Set a new password!</h1>
        <p>Please fill in your new password.</p>
        <form method="POST" class="label-left">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Reset" class="btn btn-primary">
        </form>
      </div>
    </div>
    <!--/login form-->
  </section>
</section>
<!--/#cart_items-->
</main>
{% endif %}
{% endblock %}