
{% extends "base.html" %}
{% block head-title %}Add/Edit Product{% endblock %}

{% block content %}
<section class="form-section">
    <h2 class="section-headline">Sign up!</h2>
    <p class="section-description">
        Please fill in your infos.
    </p>
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ profile_form.as_p }}
            <p>
                <input type="submit" value="Sign Up!">
            </p>
        </form>
    </div>
</section>
{% endblock %}