{% extends 'base.html' %}

{% block page-title %} Edit profile {% endblock %}

{% block content %}
<main>
    <section>
        <h1>User Profile</h1>
        <div class="container">
                <div class="col-sm-10">
                    <p><b>Username: </b> {{ request.user.username | capfirst }}</p>
                    <p><b>First name: </b>{{ request.user.first_name | capfirst }}</p>
                    <p><b>Last name: </b>{{ request.user.last_name | capfirst }}</p>
                    <p><b>Email: </b>{{ request.user.email }}</p>

                    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit</a>
                </div>
        </div>
    </section>
</main>


{% endblock %}