{% load static %}
<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" href="normalize.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>STORE</title>
        <link href="https://fonts.googleapis.com/css?family=Domine|Questrial" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <header>
            <h1>
                <a href="{% url 'products_list' %}">STORE</a>
            </h1>
            <nav>
                <ul class="navbar">
                    <li><a href="#">home</a></li>
                    <li><a href="#">featured</a></li>
                    <li><a href="#">women</a></li>
                    <li><a href="#">men</a></li>
                    <li><a href="#">kids</a></li>
                    <li><a href="#">more</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            <h2>Featured Products</h2>
            <p>Refresh your look with pieces of our collection</p>
            <div>
                {% if products %}
                    {% for product in products%}
                    <a href="{{ product.get_absolute_url }}">
                        <h2>{{ product.title }}</h2>
                    </a>
                    {% endfor %}
                {% else %}
                <p>No products yet.</p>
                {% endif %}
            </div>
            <a href="#">More Products</a>
        </main>
        <footer>
            <p>&copy; 2018 All Rights Reserved</p>
        </footer>
    </body>
</html>
