<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block head-title %}Order Address{% endblock %}

{% block content %}
<section class="form-section"></section>
  <h2 class="section-headline">Make Order</h2>
  <p class="section-description">Please fill in your address to complete your order.</p>
  <div class="form">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <p>
          <input type="submit" value="Order">
      </p>
    </form>
  </div>
</section>
{% endblock %}