<!-- checkout   -->
{% extends 'base.html' %}

{% block head-title %}Order Address{% endblock %}

{% block content %}
<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Check out</li>
      </ol>
    </div>
    <!--/breadcrums-->
  </div>
</section>
<main>
  <section id="form">
    <!--form-->
    <div class="col-sm-7 center">
      <div class="login-form">
        <!--login form-->
        <h1>Complet Order</h1>
        <p>Shopper Information</p>
        <form method="POST" class="label-left">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Order" class="btn btn-primary">
        </form>
      </div>
    </div>
    <!--/login form-->
  </section>
</main>

<!--/#cart_items-->
{% endblock %}
